:root {
  --bg-color: #f5cd49;
  --text-color: #111;

  --card-bg-color: #f6ecc8;

  --spacing: 2rem;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #111;
    --text-color: #f5cd49;

    --card-bg-color: #63500c;
  }
} */

[data-theme="light"] {
  --bg-color: #f5cd49;
  --text-color: #111;

  --card-bg-color: #f6ecc8;
}

[data-theme="dark"] {
  --bg-color: #111;
  --text-color: #f5cd49;

  --card-bg-color: #24221d;
}

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

:where(img, svg) {
  width: auto;
  max-width: 100%;
  height: auto;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--text-color);
  background-color: var(--bg-color);
}

a {
  color: inherit;
}

/* Cards */

.card,
.card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card {
  gap: var(--spacing);
  padding: var(--spacing);
  border-radius: 0.5rem;
  background-color: var(--card-bg-color, #fff);
}

.card-image-container {
  display: flex;
  justify-content: center;
}

.card-info__name {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  text-transform: capitalize;
}

.logo-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: var(--spacing);
  margin-inline: auto;
}
.logo-container .logo {
  margin-inline: auto;
}

.theme-toggle {
  background-color: transparent;
  border: none;
  color: var(--text-color);
  align-self: center;
  cursor: pointer;
}

/* Layout */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: var(--spacing);
  padding: var(--spacing);
}

.credits {
  padding: var(--spacing);
  text-align: center;
  background-color: var(--text-color);
  color: var(--bg-color);
}

.search-container {
  position: sticky;
  top: 1rem;
  padding-inline: var(--spacing);
}

.search-container .form-control {
  box-shadow: 0 0 0 0.25rem var(--text-color);
}

.input-group {
  padding: var(--spacing);
}
.form-control {
  padding: 1.5rem;
  margin-inline: auto;
  display: block;
  width: min(100%, 75ch);
  border: 0;
  border-radius: 100vmax;
  font-size: 1rem;
}

/* Utilities */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.hidden {
  display: none;
}
